body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Source Code Pro';
    min-height: 100vh;
    background-color: #FFEEE4;
}

main {
    flex: 1;
}

.container {
    padding: 16px;
}

a {
    text-decoration: none;
    color: #4A4A4A;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F17F42;
    padding: 8px 12px;
}

.navbar_logo {
    display: flex;
    font-size: 24px;
    color: white;
    align-items: center;
    gap: 8px;
}

.navbar_logo i {
    color: #FFD8B1;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
    color: white;
}

.navbar_menu li:hover {
    background-color: #FFD8B1;
    border-radius: 4px;
    color: #F17F42;
}

.navbar_icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.navbar_icons li {
    padding: 8px 24px;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #FFD8B1;
}

.hero {
    background-color: #FAD4C0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4A4A4A;
    text-align: center;
    position: relative;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-button {
    background-color: #F17F42;
    color: white;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero-button:hover {
    background-color: #D9682B;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 24px 0;
}

.search-bar input {
    padding: 8px;
    width: 50%;
    font-size: 14px;
    border: 1px solid #D9682B;
    border-radius: 4px;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #F17F42;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #D9682B;
}

.footer {
    background-color: #F17F42;
    color: white;
    text-align: center;
    padding: 16px 12px;
    margin-top: auto;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }
}